FlowNetPytorch/flying_chairs
tensorboard_output
flying_chairs
FlowNetPytorch/models/FlowNetCX.py
FlowNetPytorch/models/test.py

FlowNetPytorch/models/FlowNetC.py
.gitignore
1.png
2.png
3.png
model_best.pth.tar
FlowNetPytorch/requirements.txt
FlowNetPytorch/requirements.txt
FlowNetPytorch/models/__init__.py
FlowNetPytorch/models/FlowNetC.py
FlowNetPytorch/models/ConvNext.py
FlowNetPytorch/swin_transformer_custom.py
FlowNetPytorch/visualization_layers_flownet.py
FlowNetPytorch/models/FlowNetCNew.py
FlowNetPytorch/models/CosineAnnealingSchedule.py
.gitignore
FlowNetPytorch/requirements.txt
FlowNetPytorch/requirements.txt
FlowNetPytorch/models/ViT/main.py
FlowNetPytorch/flying_chairs
FlowNetPytorch/flying_chairs/01-31-23.33/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706740414.stan.1848342.2
FlowNetPytorch/flying_chairs/01-31-23.33/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706740414.stan.1848342.3
FlowNetPytorch/flying_chairs/01-31-23.33/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706740414.stan.1848342.4
FlowNetPytorch/flying_chairs/01-31-23.33/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706740414.stan.1848342.0
FlowNetPytorch/flying_chairs/01-31-23.35/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/events.out.tfevents.1706740545.stan.1848820.1
FlowNetPytorch/flying_chairs/01-31-23.35/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706740545.stan.1848820.2
FlowNetPytorch/flying_chairs/01-31-23.35/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706740545.stan.1848820.3
FlowNetPytorch/flying_chairs/01-31-23.35/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706740545.stan.1848820.4
FlowNetPytorch/flying_chairs/01-31-23.35/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706740545.stan.1848820.0
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/events.out.tfevents.1706740680.stan.1849246.1
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/events.out.tfevents.1706740712.stan.1849490.1
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706740680.stan.1849246.2
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706740712.stan.1849490.2
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706740680.stan.1849246.3
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706740712.stan.1849490.3
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706740680.stan.1849246.4
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706740712.stan.1849490.4
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706740680.stan.1849246.0
FlowNetPytorch/flying_chairs/01-31-23.38/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706740712.stan.1849490.0
FlowNetPytorch/flying_chairs/01-31-23.46/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/events.out.tfevents.1706741181.stan.1851673.1
FlowNetPytorch/flying_chairs/01-31-23.46/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706741181.stan.1851673.2
FlowNetPytorch/flying_chairs/01-31-23.46/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706741181.stan.1851673.3
FlowNetPytorch/flying_chairs/01-31-23.46/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706741181.stan.1851673.4
FlowNetPytorch/flying_chairs/01-31-23.46/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706741181.stan.1851673.0
FlowNetPytorch/flying_chairs/01-31-23.47/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/events.out.tfevents.1706741265.stan.1852202.1
FlowNetPytorch/flying_chairs/01-31-23.47/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706741265.stan.1852202.2
FlowNetPytorch/flying_chairs/01-31-23.47/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706741265.stan.1852202.3
FlowNetPytorch/flying_chairs/01-31-23.47/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706741265.stan.1852202.4
FlowNetPytorch/flying_chairs/01-31-23.47/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706741265.stan.1852202.0
FlowNetPytorch/flying_chairs/01-31-23.49/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/events.out.tfevents.1706741398.stan.1852831.1
FlowNetPytorch/flying_chairs/01-31-23.49/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/0/events.out.tfevents.1706741398.stan.1852831.2
FlowNetPytorch/flying_chairs/01-31-23.49/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/1/events.out.tfevents.1706741398.stan.1852831.3
FlowNetPytorch/flying_chairs/01-31-23.49/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/test/2/events.out.tfevents.1706741398.stan.1852831.4
FlowNetPytorch/flying_chairs/01-31-23.49/flownetc,adam,300epochs,epochSize1000,b10,lr0.0001/train/events.out.tfevents.1706741397.stan.1852831.0
